# Project 3 - Books

In [1]:
# Dependencies
import requests
import pandas as pd
from pprint import pprint

In [2]:
booksSmall_df = pd.read_csv('./Resources/BooksO.csv')

/var/folders/3g/t4y_09d901v7s2qw9dqk8jzw0000gn/T/ipykernel_9407/2243857146.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  booksSmall_df = pd.read_csv('./Resources/BooksO.csv')

In [3]:
#Creating dataframes from csv files to read the data
# books_df = pd.read_csv('./Resources2/Books.csv')
books_df = booksSmall_df[booksSmall_df['Year-Of-Publication'] != 0]
books_df=books_df[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]
users_df = pd.read_csv('./Resources/UsersO.csv')
ratings_df = pd.read_csv('./Resources/RatingsO.csv')
geoloc_df = pd.read_csv('./Resources/GeoLocO.csv')

/var/folders/3g/t4y_09d901v7s2qw9dqk8jzw0000gn/T/ipykernel_9407/4289348373.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  users_df = pd.read_csv('./Resources/UsersO.csv')
/var/folders/3g/t4y_09d901v7s2qw9dqk8jzw0000gn/T/ipykernel_9407/4289348373.py:6: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  ratings_df = pd.read_csv('./Resources/RatingsO.csv')

In [4]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [5]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 267790 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 267790 non-null  object
 1   Book-Title           267790 non-null  object
 2   Book-Author          267788 non-null  object
 3   Year-Of-Publication  267790 non-null  object
 4   Publisher            267788 non-null  object
dtypes: object(5)
memory usage: 12.3+ MB

In [6]:
books_df['Book-Title'] = books_df['Book-Title'].apply(lambda x: x.title())

In [7]:
books_df=books_df.drop_duplicates(subset=['Book-Title'])

In [8]:
books_df[books_df.duplicated(subset=['Book-Title'])]

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher]
Index: []

In [9]:
merged_books_df=books_df.merge(ratings_df,on='ISBN',how='left')
merged_books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,NaN,NaN
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,NaN,NaN
2,0060973129,Decision In Normandy,Carlo D'Este,1991,HarperPerennial,NaN,NaN
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,NaN,NaN
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,NaN,NaN
...,...,...,...,...,...,...,...
268514,0449906736,Flashpoints: Promise And Peril In A New World,Robin Wright,1993,Ballantine Books,NaN,NaN
268515,0525447644,From One To One Hundred,Teri Sloat,1991,Dutton Books,NaN,NaN
268516,006008667X,Lily Dale : The True Story Of The Town That Ta...,Christine Wicker,2004,HarperSanFrancisco,NaN,NaN
268517,0192126040,Republic (World'S Classics),Plato,1996,Oxford University Press,NaN,NaN
268518,0767409752,A Guided Tour Of Rene Descartes' Meditations O...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,NaN,NaN

In [10]:
merged_books_df = merged_books_df[merged_books_df['Book-Author'].notna()]
merged_books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,NaN,NaN
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,NaN,NaN
2,0060973129,Decision In Normandy,Carlo D'Este,1991,HarperPerennial,NaN,NaN
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,NaN,NaN
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,NaN,NaN
...,...,...,...,...,...,...,...
268514,0449906736,Flashpoints: Promise And Peril In A New World,Robin Wright,1993,Ballantine Books,NaN,NaN
268515,0525447644,From One To One Hundred,Teri Sloat,1991,Dutton Books,NaN,NaN
268516,006008667X,Lily Dale : The True Story Of The Town That Ta...,Christine Wicker,2004,HarperSanFrancisco,NaN,NaN
268517,0192126040,Republic (World'S Classics),Plato,1996,Oxford University Press,NaN,NaN
268518,0767409752,A Guided Tour Of Rene Descartes' Meditations O...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,NaN,NaN

In [11]:
merged_books_df['is_asciiB'] = merged_books_df['Book-Author'].apply(lambda x: all(ord(char) < 128 for char in x))
merged_books_df['is_asciiB']

/var/folders/3g/t4y_09d901v7s2qw9dqk8jzw0000gn/T/ipykernel_9407/243974861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_books_df['is_asciiB'] = merged_books_df['Book-Author'].apply(lambda x: all(ord(char) < 128 for char in x))

0         True
1         True
2         True
3         True
4         True
          ...
268514    True
268515    True
268516    True
268517    True
268518    True
Name: is_asciiB, Length: 268517, dtype: bool

In [12]:
merged_books_df=merged_books_df[merged_books_df['is_asciiB']==True]
merged_books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating,is_asciiB
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,NaN,NaN,True
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,NaN,NaN,True
2,0060973129,Decision In Normandy,Carlo D'Este,1991,HarperPerennial,NaN,NaN,True
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,NaN,NaN,True
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,NaN,NaN,True
...,...,...,...,...,...,...,...,...
268514,0449906736,Flashpoints: Promise And Peril In A New World,Robin Wright,1993,Ballantine Books,NaN,NaN,True
268515,0525447644,From One To One Hundred,Teri Sloat,1991,Dutton Books,NaN,NaN,True
268516,006008667X,Lily Dale : The True Story Of The Town That Ta...,Christine Wicker,2004,HarperSanFrancisco,NaN,NaN,True
268517,0192126040,Republic (World'S Classics),Plato,1996,Oxford University Press,NaN,NaN,True
268518,0767409752,A Guided Tour Of Rene Descartes' Meditations O...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,NaN,NaN,True

In [13]:
merged_books_df['is_ascii'] = merged_books_df['Book-Title'].apply(lambda x: all(ord(char) < 128 for char in x))
merged_books_df['is_ascii']

/var/folders/3g/t4y_09d901v7s2qw9dqk8jzw0000gn/T/ipykernel_9407/2410882326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_books_df['is_ascii'] = merged_books_df['Book-Title'].apply(lambda x: all(ord(char) < 128 for char in x))

0         True
1         True
2         True
3         True
4         True
          ...
268514    True
268515    True
268516    True
268517    True
268518    True
Name: is_ascii, Length: 266149, dtype: bool

In [14]:
merged_books_df=merged_books_df[merged_books_df['is_ascii']==True]
merged_books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating,is_asciiB,is_ascii
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,NaN,NaN,True,True
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,NaN,NaN,True,True
2,0060973129,Decision In Normandy,Carlo D'Este,1991,HarperPerennial,NaN,NaN,True,True
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,NaN,NaN,True,True
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,NaN,NaN,True,True
...,...,...,...,...,...,...,...,...,...
268514,0449906736,Flashpoints: Promise And Peril In A New World,Robin Wright,1993,Ballantine Books,NaN,NaN,True,True
268515,0525447644,From One To One Hundred,Teri Sloat,1991,Dutton Books,NaN,NaN,True,True
268516,006008667X,Lily Dale : The True Story Of The Town That Ta...,Christine Wicker,2004,HarperSanFrancisco,NaN,NaN,True,True
268517,0192126040,Republic (World'S Classics),Plato,1996,Oxford University Press,NaN,NaN,True,True
268518,0767409752,A Guided Tour Of Rene Descartes' Meditations O...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,NaN,NaN,True,True

In [15]:
titles_list=merged_books_df['Book-Title']
list_t=list(titles_list.unique())
list_t

['Classical Mythology',
 'Clara Callan',
 'Decision In Normandy',
 'Flu: The Story Of The Great Influenza Pandemic Of 1918 And The Search For The Virus That Caused It',
 'The Mummies Of Urumchi',
 "The Kitchen God'S Wife",
 "What If?: The World'S Foremost Military Historians Imagine What Might Have Been",
 'Pleading Guilty',
 'Under The Black Flag: The Romance And The Reality Of Life Among The Pirates',
 "Where You'Ll Find Me: And Other Stories",
 'Nights Below Station Street',
 "Hitler'S Secret Bankers: The Myth Of Swiss Neutrality During The Holocaust",
 'The Middle Stories',
 'Jane Doe',
 "A Second Chicken Soup For The Woman'S Soul (Chicken Soup For The Soul Series)",
 'The Witchfinder (Amos Walker Mystery Series)',
 'More Cunning Than Man: A Social History Of Rats And Man',
 'Goodbye To The Buttermilk Sky',
 'The Testament',
 'Beloved (Plume Contemporary Fiction)',
 "Our Dumb Century: The Onion Presents 100 Years Of Headlines From America'S Finest News Source",
 'New Vegetarian: Bold And Beautiful Recipes For Every Occasion',
 "If I'D Known Then What I Know Now: Why Not Learn From The Mistakes Of Others? : You Can'T Afford To Make Them All Yourself",
 'Mary-Kate &Amp; Ashley Switching Goals (Mary-Kate And Ashley Starring In)',
 "Tell Me This Isn'T Happening",
 'Flood : Mississippi 1927',
 'Wild Animus',
 'Airframe',
 'Timeline',
 'Out Of The Silent Planet',
 'Prague : A Novel',
 'Chocolate Jesus',
 'Wie Barney Es Sieht.',
 'Der Fluch Der Kaiserin. Ein Richter- Di- Roman.',
 'Sturmzeit. Roman.',
 'Tage Der Unschuld.',
 'Lying Awake',
 'To Kill A Mockingbird',
 'Seabiscuit: An American Legend',
 'Pigs In Heaven',
 "Miss Zukas And The Raven'S Dance",
 'Pride And Prejudice',
 'The Therapeutic Touch: How To Use Your Hands To Help Or To Heal',
 'Downtown',
 'Icebound',
 "I'Ll Be Seeing You",
 'From The Corner Of His Eye',
 'Isle Of Dogs',
 'Purity In Death',
 'This Year It Will Be Different: And Other Stories',
 'Proxies',
 "Left Behind: A Novel Of The Earth'S Last Days (Left Behind #1)",
 'The Street Lawyer',
 'Love, Medicine And Miracles',
 "All The King'S Men",
 'Pacific Northwest',
 'A Soldier Of The Great War',
 'Getting Well Again',
 'Northwest Wines And Wineries',
 'An Atmosphere Of Eternity: Stories Of India',
 'Lonesome Dove',
 'Shabanu: Daughter Of The Wind (Border Trilogy)',
 'Haveli (Laurel Leaf Books)',
 'Lieux Dits',
 'The Dragons Of Eden: Speculations On The Evolution Of Human Intelligence',
 'The Yawning Heights',
 'Breathing Lessons',
 'The Joy Luck Club',
 'Heart Of Darkness (Wordsworth Collection)',
 'The Angel Is Near',
 "Tess Of The D'Urbervilles (Wordsworth Classics)",
 'The Adventures Of Drew And Ellie: The Magical Dress',
 'The Accidental Virgin',
 'The Tao Of Pooh',
 'Seabiscuit',
 'The Prince',
 "Life'S Little Instruction Book (Life'S Little Instruction Books (Paperback))",
 'Starship Troopers',
 'The Ruby In The Smoke (Sally Lockhart Trilogy, Book 1)',
 'Black Beauty (Illustrated Classics)',
 "Anil'S Ghost",
 'Prescription For Terror',
 'Modern Manners: An Etiquette Book For Rude People',
 'Turning Thirty',
 'Decipher',
 'My First Cousin Once Removed: Money, Madness, And The Family Of Robert Lowell',
 'Standing Firm: A Vice-Presidential Memoir',
 'Team Bush : Leadership Lessons From The Bush White House',
 'The Right Man : The Surprise Presidency Of George W. Bush',
 'Daybreakers Louis Lamour Collection',
 'The Catcher In The Rye',
 'El Senor De Los Anillos: La Comunidad Del Anillo (Lord Of The Rings (Spanish))',
 'El Senor De Los Anillos: Las Dos Torres (Lord Of The Rings (Paperback))',
 'El Senor De Los Anillos: El Retorno Del Rey (Tolkien, J. R. R. Lord Of The Rings. 3.)',
 'Midnight In The Garden Of Good And Evil: A Savannah Story',
 "Pretend You Don'T See Her",
 'Fast Women',
 'Female Intelligence',
 "Pasquale'S Nose: Idle Days In An Italian Town",
 'The Gospel Of Judas: A Novel',
 "Prize Stories, 1987: The O'Henry Awards",
 'Rich Dad, Poor Dad: What The Rich Teach Their Kids About Money--That The Poor And Middle Class Do Not!',
 'The Pillars Of The Earth',
 "Mcdonald'S: Behind The Arches",
 "Creating Wealth : Retire In Ten Years Using Allen'S Seven Principles Of Wealth!",
 "Corelli'S Mandolin : A Novel",
 'Love, Miracles, And Animal Healing : A Heartwarming Look At The Spiritual Bond Between Animals And Humans',
 'The Five People You Meet In Heaven',
 'Tu Nombre Escrito En El Agua (La Sonrisa Vertical)',
 'Relics (Star Trek: The Next Generation)',
 'Bless The Beasts And Children : Bless The Beasts And Children',
 'The Touch Of Your Shadow, The Whisper Of Your Name (Babylon 5, Book 5)',
 'Blood Oath',
 'The Alibi',
 'The Beach House',
 'A Kiss Remembered',
 'The Short Forever',
 'Dead Aim',
 'Angels &Amp; Demons',
 'The Deal',
 'All He Ever Wanted: A Novel',
 'Every Breath You Take : A True Story Of Obsession, Revenge, And Murder',
 "If I Ever Get Back To Georgia, I'M Gonna Nail My Feet To The Ground",
 'The Mosquito Coast',
 "If Love Were Oil, I'D Be About A Quart Low",
 'Goodbye, My Little Ones: The True Story Of A Murderous Mother And Five Innocent Victims',
 'The Girl Who Loved Tom Gordon',
 'Bringing Down The House: The Inside Story Of Six M.I.T. Students Who Took Vegas For Millions',
 'The Oneprince (The Redaemian Chronicles, Book 1)',
 'The Sum Of All Fears',
 'Care Packages : Letters To Christopher Reeve From Strangers And Other Friends',
 'O Deus Das Pequenas Coisas',
 'Lady In Green/Minor Indiscretions (Signet Regency Romance)',
 'One Hundred Years Of Solitude',
 'Little Altars Everywhere: A Novel',
 'Coyote Waits (Joe Leaphorn/Jim Chee Novels)',
 'Before I Say Good-Bye',
 'Slow Waltz In Cedar Bend',
 'Twenty Minute Retreats: Revive Your Spirits In Just Minutes A Day (A Pan Self-Discovery Title)',
 'Atonement : A Novel',
 'Next: The Future Just Happened',
 'The Angelic Darkness',
 'The Soulbane Stratagem',
 'Gangster',
 'Hush',
 'Whisper Of Evil (Hooper, Kay. Evil Trilogy.)',
 'Temor Y Temblor',
 'Estudios Sobre El Amor',
 'Rebecca',
 'Scarlet Letter',
 'Keep It Simple: And Get More Out Of Life',
 'Diary Of A Mad Mom-To-Be',
 'Locked In Time (Laurel Leaf Books)',
 'Contact',
 'The Brimstone Wedding',
 'The Catswold Portal',
 "Through Wolf'S Eyes (Wolf)",
 'Puerto Vallarta Squeeze',
 'Tree Grows In Brooklyn',
 'Cybill Disobedience: How I Survived Beauty Pageants, Elvis, Sex, Bruce Willis, Lies, Marriage, Motherhood, Hollywood, And The Irrepressible Urge To Say What I Think',
 'Snow Angels',
 'Wish You Well',
 "The Hitchhiker'S Guide To The Galaxy",
 'Crow Lake (Today Show Book Club #7)',
 'My Antonia',
 'Pen Pals',
 "Bridget Jones'S Diary",
 'Pride And Prejudice (Dover Thrift Editions)',
 'Eye On Crime: Hardy Boys #153',
 'Skin And Bones',
 'Law Of The Jungle (Hardy Boys Case File 105) : Law Of The Jungle (Hardy Boys, The)',
 'The Cat Who Came To Breakfast (Cat Who... (Hardcover))',
 "If Singleness Is A Gift, What'S The Return Policy?",
 "Always Daddy'S Girl: Understanding Your Father'S Impact On Who You Are",
 'Night Mare (Xanth Novels (Paperback))',
 'The Martian Chronicles',
 'Fahrenheit 451',
 'Veronika Deschliesst Zu Sterben / Vernika Decides To Die',
 'Die Klone Der Joanna May. Roman.',
 'Ist Mein Hintern Wirklich So Dick? Tagebuch Einer Empfindsamen Frau.',
 'Haifischfrauen.',
 'Die Cappuccino- Jahre. Aus Dem Tagebuch Des Adrian Mole.',
 'Die Korrekturen.',
 'Hebt Den Dachbalken Hoch, Zimmerleute / Seymour Wird Vorgestellt.',
 'Das Intimleben Des Adrian Mole, 13 3/4 Jahre. Cbt. ( Ab 14 J.).',
 'The God Of Small Things',
 'The James Dean Affair: A Neil Gulliver &Amp; Stevie Marriner Novel',
 'The Big Bad Wolf: A Novel',
 'Four Blind Mice',
 'Private Screening',
 'Congo',
 'Protect And Defend',
 'The Tall Pine Polka',
 'Memoirs Of A Geisha',
 'Plainsong (Vintage Contemporaries)',
 'Body Of Evidence (Kay Scarpetta Mysteries (Paperback))',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'The Case Of The Lost Look-Alike (An Avon Camelot Book)',
 'Petals On The River',
 'The Elusive Flame',
 'Legacy Of Silence',
 'The Brethren',
 'The King Of Torts',
 'The Curious Incident Of The Dog In The Night-Time : A Novel',
 'Bleachers',
 'Sisterhood Of The Traveling Pants',
 'Only Love (Magical Love)',
 'All Or Nothing (Wheeler Large Print Books)',
 'Roses Are Red (Alex Cross Novels)',
 'The Rescue',
 'Manhattan Hunt Club',
 "Patty Jane'S House Of Curl (Ballantine Reader'S Circle)",
 'Pet Sematary',
 'Silent Snow',
 'Girl With A Pearl Earring',
 'Summer Of Storms',
 'The Patient',
 "Demona'S Revenge (Gargoyles, No. 2)",
 "Clifford'S Sports Day",
 'Postmortem (Kay Scarpetta Mysteries (Paperback))',
 'Deception Point',
 'Tis : A Memoir',
 'A Monk Swimming',
 'Crazy Horse',
 'The Silent Cry (William Monk Novels (Paperback))',
 "The Kalahari Typing School For Men (No. 1 Ladies' Detective Agency)",
 'Chicken Soup For The Soul (Chicken Soup For The Soul)',
 'Wicked: The Life And Times Of The Wicked Witch Of The West',
 'Life Of Pi',
 'A Judgement In Stone',
 'Lies And The Lying Liars Who Tell Them: A Fair And Balanced Look At The Right',
 'Secret History',
 "Chicken Soup For The Woman'S Soul (Chicken Soup For The Soul Series (Paper))",
 'Great Expectations (Heinemann Guided Readers)',
 'The Weight Of Water',
 'Moving Pictures (Discworld Novels (Paperback))',
 'Night Watch',
 'Thief Of Time',
 "Charlotte'S Web Book And Charm (Charming Classics)",
 'Peter Pan: The Original Story (Peter Pan)',
 'My Friend Flicka',
 'The Last Hero : A Discworld Fable (Discworld Novels (Hardcover))',
 'Jingo: A Discworld Novel (Discworld Series/Terry Pratchett)',
 'Maskerade: A Novel Of Discworld (Pratchett, Terry. Discworld Series (New York, N.Y.).)',
 'Interesting Times: A Novel Of Discworld',
 "On The Bright Side, I'M Now The Girlfriend Of A Sex God: Further Confessions Of Georgia Nicolson",
 'Mansfield Park (Penguin Popular Classics)',
 'The Wind In The Willows',
 'The Winter King: A Novel Of Arthur (The Warlord Chronicles: I)',
 'Moonheart (Newford)',
 "The King Of Elfland'S Daughter (Del Rey Impact)",
 'Powder And Patch',
 'The Picture Of Dorian Gray (Modern Library (Paperback))',
 'The Iron Giant',
 'James And The Giant Peach',
 'The Amber Spyglass (His Dark Materials, Book 3)',
 'The Golden Compass (His Dark Materials, Book 1)',
 'The Subtle Knife (His Dark Materials, Book 2)',
 'The Adrian Mole Diaries : The Secret Diary Of Adrian Mole, Aged 13 3/4 : The Growing Pains Of Adrian Mole',
 'Martian Chronicles',
 'The Great God Pan',
 'Possession: A Romance',
 'Born Confused',
 'Confessions Of A Shopaholic',
 'Making Minty Malone',
 'Little Women (Signet Classic)',
 'Emma (Signet Classics (Paperback))',
 'Animal Farm',
 'Great Expectations (Dover Thrift Editions)',
 'Eva Luna',
 'The Green Man : Tales From The Mythic Forest',
 "Nicholas Nickleby (Everyman'S Library)",
 'Angels &Amp; Insects : Two Novellas',
 'Catch 22',
 'The Forsyte Saga : The Man Of Property And In Chancery',
 'The Enchanted Wood',
 'The Folk Of The Faraway Tree',
 'Angels And Visitations: A Miscellany',
 'League Of Extraordinary Gentlemen, Vol. 2 (Comic)',
 'Preludes And Nocturnes (Sandman, Book 1)',
 'The League Of Extraordinary Gentlemen, Vol. 1',
 'Harlequin Valentine',
 'Alpha Teach Yourself American Sign Language In 24 Hours (Alpha Teach Yourself In 24 Hours)',
 'A Man In Full',
 'The Miracle Life Of Edgar Mint: A Novel',
 'October Sky: A Memoir',
 'A Painted House',
 'The Romance Reader',
 'Far From The Madding Crowd (Wordsworth Classics)',
 'The Perfect Storm : A True Story Of Men Against The Sea',
 'The Battle For God',
 'Sappho: A New Translation',
 'The Postman (Bantam Classics)',
 'The Tortilla Curtain',
 'Symposium',
 "The What'S Happening To My Body? Book For Boys: A Growing Up Guide For Parents And Sons",
 'Object Affection',
 'The Journey Home',
 'Taking The Ferry Home',
 'Angel Of Hope (Mercy Trilogy)',
 'The Breach',
 'Neanderthal: A Novel',
 'A Small Dark Place',
 'The Rivan Codex : Ancient Texts Of The Belgariad And The Malloreon',
 'Babyhood',
 "Year'S Best Fantasy (Year'S Best Fantasy)",
 'Dave Barry In Cyberspace',
 'Wolf Moon',
 'The War In Heaven (Eternal Warriors)',
 'Waiting',
 'Nowhere To Run',
 'Frankenstein (Dover Thrift Editions)',
 'Urn Burial',
 'All Our Yesterdays (Large Print)',
 'What Shall I Be (Barbie Carryalong)',
 'All That Remains',
 'Last Chance To See',
 "Vinegar Hill (Oprah'S Book Club (Paperback))",
 'Affinity',
 'Diario De Ana Frank',
 'Desert Notes/River Notes',
 'The Best Democracy Money Can Buy: The Truth About Corporate Cons, Globalization And High-Finance Fraudsters',
 'The Hunt For Red October',
 'The Music Box',
 'Liberty Falling (Anna Pigeon Mysteries (Paperback))',
 'El Palacio De La Luna',
 'Mientras Escribo',
 'Killer Market (Deborah Knott Mysteries (Paperback))',
 'Remembering Peter Gzowski : A Book Of Tributes',
 'The Best Canadian Animal Stories: Classic Tales By Master Storytellers',
 'Trying To Save Piggy Sneed',
 'Seattle Access',
 'Real Guide: California And The West Coast (The Real Guides)',
 'Bel Canto',
 'The Secret Life Of Bees',
 'What A Wonderful World: A Lifetime Of Recordings',
 'Digital Fortress : A Thriller',
 'The Ladies Of Missalonghi',
 'Blackberry Wine : A Novel',
 'The Firm',
 "How The Irish Saved Civilization: The Untold Story Of Ireland'S Heroic Role From The Fall Of Rome To The Rise Of Medieval Europe (Hinges Of History)",
 'The Client',
 'Thieves Of Light (Photon : The Ultimate Game On Planet Earth)',
 "Horse Heaven (Ballantine Reader'S Circle)",
 'Danger',
 'Proof',
 'Heart Of The Sea (Irish Trilogy)',
 'Mostly Harmless',
 'I Spy: A Book Of Picture Riddles',
 'I Spy Spooky Night: A Book Of Picture Riddles (I Spy Books)',
 'Lake News',
 'The Skull Beneath The Skin',
 'New Shoe',
 'An Accidental Woman',
 'The Snow Garden',
 'The Doorbell Rang (The Best Mysteries Of All Time)',
 'A Year By The Sea: Thoughts Of An Unfinished Woman',
 'Though I Walk Through The Valley',
 'Victorious Christians You Should Know',
 'Life Lessons: Book Of Hebrews',
 'Inside Out',
 'Son Rise: The Miracle Continues',
 'Unveiled At Last',
 'The Day I Almost Quit',
 'Serving As Senders: How To Care For Your Missionaries While They Are Preparing To Go, While They Are On The Field, When They Return Home',
 'House Of Stairs',
 'Jonathan Livingston Seagull',
 'The Crystal Handbook',
 'Simple Wicca (Simple Wisdom Book)',
 "The Complete Book Of Incense, Oils &Amp; Brews (Llewellyn'S Practical Magick)",
 'The Western Mysteries: An Encyclopedic Guide To The Sacred Languages &Amp; Magickal Systems Of The World : The Key Of It All, Book Ii (Key Of It All)',
 'Astral Travel For Beginners (For Beginners)',
 'New Perspectives: Runes',
 "Rosie'S Walk",
 'Julius Caesar (Oxford School Shakespeare)',
 "Santa Brought A Son : Marrying The Boss'S Daughter (Silhouette Romance, 1698)",
 'Marry Me ... Again   Montana Mavericks (Silhouette Special Edition, 1558)',
 "Alice'S Adventures In Wonderland And Through The Looking Glass",
 'Moonlight Becomes You',
 'The Adventures Of Tom Sawyer',
 'Divine Secrets Of The Ya-Ya Sisterhood : A Novel',
 'Lakota Woman',
 'Heroes Of Their Own Lives: The Politics And History Of Family Violence, Boston 1880-1960',
 'The Florence King Reader',
 'The Lovely Bones: A Novel',
 'Impossible Vacation',
 'Hannibal',
 'London : The Novel',
 'Life Before Man',
 'Cavedweller',
 'The Robber Bride',
 "Wouldn'T Take Nothing For My Journey Now",
 'The House Of Mirth (Library Of America)',
 'Ohitika Woman',
 'Black Elk Speaks: Being The Life Story Of A Holy Man Of The Oglala Sioux',
 'The Community In America',
 'The Best In Tent Camping: Smoky Mountains : A Guide For Campers Who Hate Rvs, Concrete Slabs, And Loud Portable Stereos (Best In Tent Camping Colorado)',
 'Mawrdew Czgowchwz (New York Review Books Classics)',
 'Prozac Nation: Young And Depressed In America : A Memoir',
 'The Journey From Here',
 'The Four Agreements: A Practical Guide To Personal Freedom',
 'Desaparecido: La Autentica Historia De La Ejecucion De Charles Horman',
 'Espurnes De Sang (La Negra)',
 'El Dia Que Es Va Cremar El Liceu (La Primera Columna)',
 'Una Casa En Irlanda',
 'Blur (Melody Maker)',
 'War And Peace (Wordsworth Classics)',
 'A-Z Of Behaving Badly',
 'He Understanding Masculine Psychology',
 'Las Dos Muertes De Gardel (Ficcionario)',
 'You Can Surf The Net: Your Guide To The World Of The Internet',
 'I Want To Be...A Veterinarian (I Want To Be... Series)',
 "Alice'S Tulips",
 'Centaur Aisle',
 'Crewel Lye',
 'Dragonflight (Dragonriders Of Pern Trilogy (Paperback))',
 'Last Sword Of Power (Stones Of Power)',
 'Dating Big Bird',
 'Murder At The Kennedy Center (Capital Crime Mysteries)',
 'Guinness World Records 2000 (Guinness Book Of Records, 2000)',
 'Forever Amber Brown (Amber Brown (Paperback))',
 "Philip Jose Farmer'S The Dungeon",
 'Pool Of Radiance: The Ruins Of Myth Drannor (Forgotten Realms)',
 "Feminism And Suffrage: The Emergence Of An Independent Women'S Movement In America, 1848-1869",
 'Why Are Boys So Weird (Tales From Third Grade)',
 'Sheldon &Amp; Mrs. Levine: An Excruciating Correspondence',
 'Black Beauty (Great Illustrated Classics (Playmore))',
 'Oliver Twist (Great Illustrated Classics)',
 'The Wild Ponies Of Assateague Island (Books For Young Explorers)',
 'Frankenstein (Illustrated Classics Series)',
 'The Scarlet Letter',
 'Dragonsong (Harper Hall Trilogy)',
 'The Watch House',
 'Was It Something I Said?',
 'Cloud Nine',
 'The Lovely Bones',
 'Sarah Conley',
 'A Widow For One Year',
 'The Clearing',
 'Empire Falls',
 'Oryx And Crake',
 "Sophie'S World: A Novel About The History Of Philosophy (Berkeley Signature Edition)",
 'Black And Blue',
 'Le Divorce (William Abrahams Book)',
 'The Face',
 "She'S Come Undone (Oprah'S Book Club)",
 'Falling Leaves: The True Story Of An Unwanted Chinese Daughter',
 'Nickel And Dimed: On (Not) Getting By In America',
 'The Game Of Kings (Lymond Chronicles, 1)',
 'Russia House, The',
 'Solv-A-Crime Puzzles (Dover Game And Puzzle Activity Books)',
 'The First Wives Club Movie Tie In',
 'Selected Poems Of Emily Dickinson',
 "Watercolor School (Reader'S Digest Learn-As-You-Go Guides)",
 'Joshua In The Holy Land',
 'The Messenger',
 "Sisters Of The Earth: Women'S Prose And Poetry About Nature",
 "Left Behind: A Novel Of The Earth'S Last Days (Left Behind No. 1)",
 'Househusband',
 "Life Messages: Inspiration For The Woman'S Spirit",
 'Letters From A Nut',
 'Karl Marx: A Life',
 'The Shining',
 'The Diary Of Ellen Rimbauer: My Life At Rose Red',
 'The Sky Is Falling',
 'Santa Pete : A Novel Of Christmas Present And Past',
 'Mount Vernon Love Story : A Novel Of George And Martha Washington',
 "The Kingdom: Arabia And The House Of Sa'Ud",
 'Florida Road Kill: A Novel',
 'The 37Th Hour',
 'Be Cool',
 'The Hunted',
 'The Saints Of Big Harbour: A Novel',
 'Old Flames',
 'From The Earth: Chinese Vegetarian Cooking',
 'Living In The Presence: Disciplines For The Spiritual Heart',
 'The Bean Trees',
 'Homeland And Other Stories',
 'A Suitable Boy : Novel, A',
 'Daughter Of Fortune',
 'The Fly On The Wall',
 "Cranford (The World'S Classics)",
 'The Red Tent (Bestselling Backlist)',
 'The Right Hand Of Amon',
 'Last Blue: Poems',
 "The Cat Who Wasn'T There",
 'Light A Penny Candle',
 'The Blue Last: A Richard Jury Mystery (Richard Jury Mysteries (Paperback))',
 'Turn Of The Screw And Short N',
 'The Country Of The Pointed Firs (Dover Thrift Editions)',
 'Early Poems (Dover Thrift Editions)',
 'Barchester Towers (Oxford Pocket Classics)',
 'Reef',
 'Wednesday The Rabbi Got Wet',
 'Things My Girlfriend And I Have Argued About: A Novel',
 'Listening Hearts: Discerning Call In Community',
 'Unattainable Earth',
 "The Practice Of Prayer (New Church'S Teaching Series, Vol 4)",
 'Vertical Poetry: Recent Poems',
 "Rubinstein'S Chess Masterpieces",
 'The Nanny Diaries: A Novel',
 "I Giorni Dell'Abbandono",
 'The Gizmo',
 'The Last Best Hope Of Earth: Abraham Lincoln And The Promise Of America',
 'Organic Chemistry (Saunders Golden Sunburst Series)',

In [16]:
books_df=books_df[books_df['Book-Title'].isin(list_t)]
books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision In Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story Of The Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies Of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271354,0449906736,Flashpoints: Promise And Peril In A New World,Robin Wright,1993,Ballantine Books
271356,0525447644,From One To One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story Of The Town That Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World'S Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour Of Rene Descartes' Meditations O...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [17]:
books_df[books_df['Book-Author'] == 'John Grisham']

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
18,0440234743,The Testament,John Grisham,1999,Dell
219,0385508042,The King Of Torts,John Grisham,2003,Doubleday Books
221,0385511612,Bleachers,John Grisham,2003,Doubleday
305,044023722X,A Painted House,John Grisham,2001,Dell Publishing Company
361,0385416342,The Firm,John Grisham,1991,Doubleday Books
...,...,...,...,...,...
233275,840801997X,La Tapadera,John Grisham,1997,Planeta Editorial S A
244811,0440295211,The Pelican Brief: International Edition,John Grisham,1992,Dell Publishing Company
253298,2266107275,La Loi Du Plus Faible / The Law Of Weakest,John Grisham,2001,Pocket (FR)
253299,2266125672,L'Engrenage,John Grisham,2003,Pocket
258877,0582453526,"The Brethren (Penguin Readers, Level 5)",John Grisham,2002,Pearson ESL

In [18]:
ser=merged_books_df.groupby('Book-Author').size().sort_values(ascending=False)
ser_pd=pd.DataFrame(ser)
ser_pd

                                         0
Book-Author
Jack Canfield                          763
J. K. Rowling                          621
Stephen King                           542
Nora Roberts                           531
William Shakespeare                    528
...                                    ...
J. H. A. Van Konijnenburg-Van Cittert    1
J. H Brennan                             1
J. Grabowska                             1
J. Gordon                                1
Joseph Lefanu                            1

[95283 rows x 1 columns]

In [39]:
merged_books_df.groupby('Book-Title').size().sort_values(ascending=False)

Book-Title
Harry Potter And The Sorcerer'S Stone (Harry Potter (Paperback))    313
A Painted House                                                     281
Harry Potter And The Order Of The Phoenix (Book 5)                  206
The No. 1 Ladies' Detective Agency (Today Show Book Club #8)        183
The Bridges Of Madison County                                       152
                                                                   ...
Herself: Daughter Of Tintagel (Daughter Of Tintagel)                  1
Hershel And The Hanukkah Goblins                                      1
Hershey'S (R) : Fabulous Deserts                                      1
Herstory : Lisa Marie'S Wedding Diary: Shamelessly Concocted          1
\\"N\"\" Is For Noose (Thorndike Large Print General Series)"         1
Length: 228818, dtype: int64

In [19]:
author_list=ser_pd.index
author_list

Index(['Jack Canfield', 'J. K. Rowling', 'Stephen King', 'Nora Roberts',
       'William Shakespeare', 'John Grisham', 'Agatha Christie',
       'Ann M. Martin', 'Alexander McCall Smith', 'Carolyn Keene',
       ...
       'J. H. Hatfield', 'J. H. Eaton', 'J. Goodman', 'J. H. Douglas',
       'J. H. Blair', 'J. H. A. Van Konijnenburg-Van Cittert', 'J. H Brennan',
       'J. Grabowska', 'J. Gordon', 'Joseph Lefanu'],
      dtype='object', name='Book-Author', length=95283)

In [20]:
new_auth_list=author_list[0:50]
new_auth_list

Index(['Jack Canfield', 'J. K. Rowling', 'Stephen King', 'Nora Roberts',
       'William Shakespeare', 'John Grisham', 'Agatha Christie',
       'Ann M. Martin', 'Alexander McCall Smith', 'Carolyn Keene',
       'Francine Pascal', 'Nick Hornby', 'R. L. Stine', 'Not Applicable (Na )',
       'Barbara Cartland', 'Isaac Asimov', 'Tom Clancy', 'Charles Dickens',
       'Terry Pratchett', 'Debbie Macomber', 'Jane Austen', 'Diana Palmer',
       'Dave Pelzer', 'Mary Higgins Clark', 'Franklin W. Dixon',
       'Marion Zimmer Bradley', 'Anne Rice', 'John Irving',
       'Robert James Waller', 'Piers Anthony', 'J. R. R. Tolkien',
       'Mark Twain', 'Isabel Allende', 'Dean R. Koontz', 'Michael Crichton',
       'John Steinbeck', 'Janet Dailey', 'Don Pendleton', 'Roald Dahl',
       'Anne McCaffrey', 'Fern Michaels', 'Oscar Wilde', 'JOHN GRISHAM',
       'Nathaniel Hawthorne', 'Enid Blyton', 'Frank McCourt', 'R.L. Stine',
       'Jayne Ann Krentz', 'Jim Davis', 'Janette Oke'],
      dtype='object', name='Book-Author')

In [21]:
books_df=books_df[books_df['Book-Author'].isin(new_auth_list)]
books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
14,1558746218,A Second Chicken Soup For The Woman'S Soul (Ch...,Jack Canfield,1998,Health Communications
18,0440234743,The Testament,John Grisham,1999,Dell
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books
41,055321215X,Pride And Prejudice,Jane Austen,1983,Bantam
44,0553582909,Icebound,Dean R. Koontz,2000,Bantam Books
...,...,...,...,...,...
270899,0965018512,Secret Windows: Essays And Fiction On The Craf...,Stephen King,2000,Quality Paperback Bookclub
271066,0394884973,Walt Disney Pictures Presents The Great Mouse ...,Not Applicable (Na ),1986,Random House Childrens Books
271103,8472239373,Principes De Maine,John Irving,2002,Tusquets
271195,0816772088,K-Niner : Dog Of Doom (Garfield'S Pet Force Bo...,Jim Davis,2002,Troll Communications
271250,073943828X,Murder At The Manor (Mystery Guild Lost Classi...,Agatha Christie,1929,Dodd Mead &amp; Company

In [22]:
books_df = books_df[~books_df['Book-Author'].isin(['Not Applicable (Na )', 'JOHN GRISHAM', 'R.L. Stine'])]
books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
14,1558746218,A Second Chicken Soup For The Woman'S Soul (Ch...,Jack Canfield,1998,Health Communications
18,0440234743,The Testament,John Grisham,1999,Dell
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books
41,055321215X,Pride And Prejudice,Jane Austen,1983,Bantam
44,0553582909,Icebound,Dean R. Koontz,2000,Bantam Books
...,...,...,...,...,...
270877,1877961221,Isaac Asimov Presents The Best Crime Stories O...,Isaac Asimov,1990,Knightsbridge Pub Co Mass
270899,0965018512,Secret Windows: Essays And Fiction On The Craf...,Stephen King,2000,Quality Paperback Bookclub
271103,8472239373,Principes De Maine,John Irving,2002,Tusquets
271195,0816772088,K-Niner : Dog Of Doom (Garfield'S Pet Force Bo...,Jim Davis,2002,Troll Communications
271250,073943828X,Murder At The Manor (Mystery Guild Lost Classi...,Agatha Christie,1929,Dodd Mead &amp; Company

In [23]:
books_df=books_df[books_df['Year-Of-Publication']!='0']

In [24]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7245 entries, 14 to 271250
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 7245 non-null   object
 1   Book-Title           7245 non-null   object
 2   Book-Author          7245 non-null   object
 3   Year-Of-Publication  7245 non-null   object
 4   Publisher            7245 non-null   object
dtypes: object(5)
memory usage: 339.6+ KB

In [25]:
users_df.head()

  User-ID        Location
0       1   united states
1       2   united states
2       3          russia
3       4        portugal
4       5  united kingdom

In [26]:
ratings_df.head()

  User-ID        ISBN Book-Rating
0  276726   155061224           5
1  276729  052165615X           3
2  276729   521795028           6
3  276736  3257224281           8
4  276737   600570967           6

In [27]:
geoloc_df.head()

       country          Lat          Long
0  afghanistan  54.23592075  -4.514766902
1      albania   36.7172018    59.6661311
2      algeria   36.3921169   -107.834908
3      andorra   47.2923759    23.0209883
4       angola    34.626275    135.605845

In [28]:
isbn=books_df['ISBN'].unique()
isbn

array(['1558746218', '0440234743', '0345402871', ..., '8472239373',
       '0816772088', '073943828X'], dtype=object)

In [29]:
newratings=ratings_df[ratings_df['ISBN'].isin(isbn)]
newratings

       User-ID        ISBN Book-Rating
33      276788  043935806X           7
74      276835  3125785006          10
81      276847  3423071516          10
103     276847  3551551693          10
107     276847  360893541X          10
...        ...         ...         ...
433165  276463  067188803X           8
433170  276463  1400031362           8
433180  276487  840147468X           6
433457  276641  1572703164           8
433521  276670  1573227331           7

[6560 rows x 3 columns]

In [30]:
users=newratings['User-ID'].unique()
users

array([276788, 276835, 276847, ..., '276487', '276641', '276670'],
      dtype=object)

In [31]:
new_users=users_df[users_df['User-ID'].isin(users)]
new_users

       User-ID       Location
88          92          spain
239        243  united states
240        244  united states
252        256  united states
352        361          spain
...        ...            ...
270927  276401  united states
270989  276463  united states
271012  276487          spain
271159  276641       portugal
271187  276670         canada

[2517 rows x 2 columns]

In [32]:
locations=new_users['Location'].unique()
locations

array(['spain', 'united states', 'france', 'germany', 'united kingdom',
       'malaysia', 'canada', 'australia', 'colombia', 'austria', 'chile',
       'singapore', 'portugal', 'philippines', 'romania', 'india',
       'italy', 'belgium', 'switzerland', 'sweden', 'mexico', 'slovenia',
       'netherlands', 'papua new guinea', 'finland', 'argentina',
       'new zealand', 'luxembourg', 'israel', 'ghana', 'hong kong',
       'china', 'qatar', 'kuwait', 'iran', 'ireland', 'bermuda',
       'venezuela', 'bahamas', 'saudi arabia', 'iceland', 'south africa',
       'norway', 'dominican republic', 'south korea', 'slovakia',
       'brazil', 'denmark'], dtype=object)

In [33]:
new_locations=geoloc_df[geoloc_df['country'].isin(locations)]
new_locations

            country         Lat          Long
6         argentina  33.0214461  -92.72446251
8         australia  47.7563917     7.0194428
9           austria  50.6288684   3.785318028
11          bahamas  42.1877996    22.3876518
16          belgium  52.5170365    13.3888599
..              ...         ...           ...
324           spain  43.0174862     0.3737441
328          sweden  49.1660575    -0.5243876
329     switzerland  30.7334421    76.7797143
337  united kingdom  32.5663362    35.3715486
338   united states  49.1009451     1.9672466

[93 rows x 3 columns]

In [34]:
new_locations.to_csv('./Resources/GeoLoc.csv')

In [35]:
new_users.to_csv('./Resources/Users.csv')

In [36]:
newratings.to_csv('./Resources/Ratings.csv')

In [37]:
books_df.to_csv('./Resources/Books.csv')

In [38]:
books_df[books_df['Year-Of-Publication']==1927]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
63003,0448089033,The Secret Of The Old Mill (The Hardy Boys Mys...,Franklin W. Dixon,1927,Grosset &amp; Dunlap

In [42]:
books_df[books_df['Book-Title']=="The Bridges Of Madison County"]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
4180,044651652X,The Bridges Of Madison County,Robert James Waller,1992,Warner Books