# Data Cleaning on Ratings and Users

In [1]:
# Dependencies

import pandas as pd

In [2]:
ratings = pd.read_csv("./Resources/Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [3]:
ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [4]:
cleaned_ratings = ratings.loc[(ratings["Book-Rating"] > 0)]
cleaned_ratings

         User-ID         ISBN  Book-Rating
1         276726   0155061224            5
3         276729   052165615X            3
4         276729   0521795028            6
6         276736   3257224281            8
7         276737   0600570967            6
...          ...          ...          ...
1149773   276704   0806917695            5
1149775   276704   1563526298            9
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[433671 rows x 3 columns]

In [5]:
cleaned_ratings.to_csv("Resources/Ratings.csv", index = False)

In [9]:
users = pd.read_csv("./Resources/users_countries.csv")
users.head()

   User-ID         Country
0        1   united states
1        2   united states
2        3          russia
3        4        portugal
4        5  united kingdom

In [14]:
users_wip = users.dropna(how = "any")

In [11]:
users.count()

User-ID    278858
Country    274154
dtype: int64

In [15]:
users_wip.to_csv("Resources/UsersWIP.csv", index = False)

In [17]:
users_final = pd.read_csv("./Resources/UsersFinal.csv")
users_final.head()

   User-ID        Location
0        1   united states
1        2   united states
2        3          russia
3        4        portugal
4        5  united kingdom