## Books Database Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
!mongoimport --type csv -d books_db -c books --headerline --drop Resources/Books.csv
!mongoimport --type csv -d books_db -c users --headerline --drop Resources/Users.csv
!mongoimport --type csv -d books_db -c ratings --headerline --drop Resources/Ratings.csv

2023-12-05T23:22:45.744-0500	connected to: mongodb://localhost/
2023-12-05T23:22:45.745-0500	dropping: books_db.books
2023-12-05T23:22:45.794-0500	2 document(s) imported successfully. 0 document(s) failed to import.
2023-12-05T23:22:45.934-0500	connected to: mongodb://localhost/
2023-12-05T23:22:45.934-0500	dropping: books_db.users
2023-12-05T23:22:45.970-0500	2 document(s) imported successfully. 0 document(s) failed to import.
2023-12-05T23:22:46.120-0500	connected to: mongodb://localhost/
2023-12-05T23:22:46.120-0500	dropping: books_db.ratings
2023-12-05T23:22:46.151-0500	2 document(s) imported successfully. 0 document(s) failed to import.

In [4]:
# confirm that our new database was created
mongo.list_database_names()

['admin', 'books_db', 'config', 'local', 'met', 'uk_food']

In [5]:
# assign the uk_food database to a variable name
db = mongo['books_db']

In [6]:
# review the collections in our new database
db.list_collection_names()

['books', 'users', 'ratings']

In [7]:
# assign the collection to a variable
books=db['books']
ratings=db['ratings']
users=db['users']

In [8]:
print("Example of a record within 'books' collection: ")
pprint(books.find_one({}))
print("\n Example of a record within 'ratings' collection:")
pprint(ratings.find_one({}))
print("\n Example of a record within 'users' collection:")
pprint(users.find_one({}))

Example of a record within 'books' collection:
{'Book-Author': 'Mark P. O. Morford',
 'Book-Title': 'Classical Mythology',
 'ISBN': 195153448,
 'Publisher': 'Oxford University',
 'Year-Of-Publication': 2002,
 '_id': ObjectId('656ff715ca0ff0a7b6481658')}

 Example of a record within 'ratings' collection:
{'Book-Rating': 2,
 'ISBN': 195153448,
 'User-ID': 1,
 '_id': ObjectId('656ff716c1ecc221a7f135c7')}

 Example of a record within 'users' collection:
{'Age': 12,
 'Location': 'USA',
 'User-ID': 1,
 '_id': ObjectId('656ff715c914ad174f543f5d')}

In [15]:
# merge all the data
pipeline = [{
    '$lookup': {
      'from': 'users',
      'localField': 'User-ID',
      'foreignField': 'User-ID',
      'as': 'user_data'
    }},
    {
    '$project': {
      '_id': 0,
      'Book-Rating': 1,
      'ISBN': 1,
      'User-ID': 1,
      'User':  { '$arrayElemAt': ['$user_data', 0] }}}]

merged_ratings_users_cursor=ratings.aggregate(pipeline)

for i in merged_ratings_users_cursor:
    db['merged_ratings_users'].insert_one(i)
    
pipeline = [{
    '$lookup': {
      'from': 'merged_ratings_users',
      'localField': 'ISBN',
      'foreignField': 'ISBN',
      'as': 'book_ratings_users'
    }
  },
  {
    '$project': {
      '_id': 0,
      'Book-Author': 1,
      'Book-Title': 1,
      'ISBN': 1,
      'Publisher': 1,
      'Year-Of-Publication': 1,
      'Ratings': "$book_ratings_users",
    }
  },
    {'$unset':['Ratings._id', 'Ratings.User._id']}
]
merged_cursor=books.aggregate(pipeline)

for i in merged_cursor:
    db['merged'].insert_one(i)
merged=db['merged']

In [16]:
print("Example of a record within 'merged' collection:")
pprint(merged.find_one({}))

Example of a record within 'merged' collection:
{'Book-Author': 'Mark P. O. Morford',
 'Book-Title': 'Classical Mythology',
 'ISBN': 195153448,
 'Publisher': 'Oxford University',
 'Ratings': [{'Book-Rating': 2,
              'ISBN': 195153448,
              'User': {'Age': 12, 'Location': 'USA', 'User-ID': 1},
              'User-ID': 1}],
 'Year-Of-Publication': 2002,
 '_id': ObjectId('656ff8054d524293e98b9a6e')}